body {
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-author {
  padding-bottom: 20px;
  font-size: 18px;
}

.previous-next-page {
  padding: 10px;
  font-size: 20px;
  background: #ffffff;
}

.previous-next-page a {
  text-decoration: none;
}